:root{
     --DarkBlue-intro-and-email-sign-up-background: hsl(217, 27%, 15%);
     --DarkBlue-main-background: hsl(218, 28%, 13%);
     --DarkBlue-footer-background: hsl(216, 53%, 9%);
     --DarkBlue-testimonials-background: hsl(219, 30%, 18%);
     --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
     --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
     --Light-Red-error: #ff4242;
}

@font-face {
     font-family: 'Open Sans' ;
     src: url(./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
     font-family: 'Raleway';
     src: url(/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

body{
     background-color: var(--DarkBlue-main-background);
     font-family: 'Open Sans';
}

h1,h2{
     font-family: 'Raleway';
}

.testimonial .container div{
     background-color: var(--DarkBlue-testimonials-background);
}

#footer{
     background-color: var(--DarkBlue-footer-background);
}
 
